<div class="container">
  <mat-form-field>
    <input matInput placeholder="First Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Profile Picture">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Role">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Unit">
  </mat-form-field>

  <!--
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
  -->

  <!--
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  -->
</div>
