<div class="container">
  <form *ngIf="certificates" [formGroup]="certificateForm">
    <mat-form-field>
      <input matInput placeholder="Name"
             formControlName="name"
             [errorStateMatcher]="matcher">
      <mat-hint>Don't duplicate certificates!</mat-hint>
      <mat-error *ngIf="name.hasError('duplicateName')">
        {{name.errors.duplicateName.value}} already exists.
      </mat-error>
      <mat-error *ngIf="name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <image-upload
      [max]="1"
      [maxFileSize]="150000"
      [extensions]="['jpg','png','gif']"
      buttonCaption="Select"
      dropBoxMessage="Select a certificate image!"
      (uploadFinished)="selectFile($event)"
      (removed)="certificateImage = null;">
    </image-upload>
    <div id="technologies-container">
      <mat-form-field id="technologies">
        <mat-select placeholder="Technologies" multiple formControlName="technologies">
          <mat-option *ngFor="let technology of technologyList" [value]="technology.id">{{technology.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="addNewSkill()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-stroked-button class="action-btn" [disabled]="!name.valid" (click)="onSubmit()">
        {{ editing ? 'Edit' : 'Add' }}
      </button>
      <button mat-stroked-button class="action-btn" (click)="dialogRef.close()" color="warn">Cancel</button>
    </div>
    <button mat-fab *ngIf="editing" color="warn" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
  </form>
</div>
