.container > * {
  width: 100%;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 0.5em;
}

image-upload {
  margin: 0.3em 0 0.3em 0;
}

#technologies-container {
  position: relative;
}

#technologies {
  width: 92%;
}

.mat-icon-button {
  position: absolute;
  right: 0;
}

.mat-icon-button:hover {
  background-color: whitesmoke;
}

.mat-stroked-button {
  width: 49%;
}

.mat-stroked-button:last-child {
  position: absolute;
  right: 0;
}

.mat-fab {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
}
