form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 0.5em;
}

.container > * {
  width: 100%;
}

#button-container {
  position: relative;
}

.mat-stroked-button {
  width: 49%;
}

.mat-stroked-button:last-child {
  position: absolute;
  right: 0;
}
