<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<mat-table *ngIf="dataSource.data[0]" [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Identifier</mat-header-cell>
    <mat-cell *matCellDef="let project">{{project.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let project">{{project.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="client">
    <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
    <mat-cell *matCellDef="let project">{{project.client}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="location">
    <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
    <mat-cell *matCellDef="let project">{{project.location.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="skillsUsed">
    <mat-header-cell *matHeaderCellDef>Skills</mat-header-cell>
    <mat-cell *matCellDef="let project">
      <mat-chip-list>
        <mat-chip *ngFor="let skill of project.skillsUsed">{{skill.name}}</mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns" class="clickable"
           (click)="clickOnProject(row)"></mat-row>
</mat-table>

<mat-progress-spinner *ngIf="!dataSource.data[0]"
                      class="spinner"
                      mode="indeterminate">
</mat-progress-spinner>
